@charset "utf-8";
/* CSS Document */

#contenedor{
	
	width: fixed;
	height: 864px;
	
}

video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	
	top: 50%;
	left: 50%;
	
	transform: translateX(-50%) translateY(-50%);
	
	z-index: -1;
}

#header{
	height:10%;
	background-color: #EDEDED;
	display:block;
}

#contenido{
	height: 50%;
	margin-top:10px;
	margin-left: 350px;
}

.tamaño{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 100px;
	color:#FFFFFF;
	
}

.inst{
	margin-right: 37px;
	
}

.redes{
	background: rgba(150,146,146,0.49);
	border-radius:10px;
	margin-bottom: 5px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link{
	border: 25px;
	margin: 15px;
}
	

#footer{
	height: 20%;
	background-color: #FFFFFF;
	margin-top: 73px;
}

.palabras{
	width: 250px;
	text-align:center;
	margin-left: 488px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.enfr{
	margin-top: 90px;
}

#nuevo{
	height: 30%;
	margin-top: 20px;
	
}

.derecho{
	text-align:center;
}

.space{
	height:20%;
}
.tabla{
	width: 500px;
	float: right;
	border: 0px;
	padding:0px;
	margin-top: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-right: 40px;
	font-size: 14px;
}

th{
	width: 90px;
	padding: 1px;
	border: 0px;
}

.logo, img{
	width: 50%;
	height: 100%;
	float:left;
	margin: 0%;
	padding: 0px;
	margin-bottom: 5px;
	width:87px;
	height: 85px;
	margin-left: 40px; 
	
	
}

body{
	margin: 0px;
}

*{
	box-sizing: border-box;
}
