@charset "utf-8";
/* CSS Document */
#contenedor{
	width: 1296;
	height: 864px;
	background-image:url(../fotos/IMG_9056.JPG);
}

#fondo{
	width:auto;
	height: 864px;
}

#header{
	height:10%;
	background-color: #EDEDED;
	z-index: 1;
	
}

.tabla{
	width: 500px;
	float: right;
	border: 5px;
	padding:0px;
	margin-top: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-right: 40px;
	font-size: 14px;
}

th{
	width: 90px;
	padding: 1px;
	border: 0px;
}

.logo, img{
	width: 50%;
	height: 100%;
	float:left;
	margin: 0%;
	padding: 0px;
	margin-bottom: 5px;
	width:87px;
	height: 85px;
	margin-left: 40px; 
}

#contenido{
	height: 50%;
	margin-top:10px;
}

.hacerca{
	margin-right:80px;
	width: 500px;
	height:580px;
	border-color:#ABA1A1;
	float: right;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	color: #FCFCFC;
	background: rgba(0,0,0,0.20);
}


#footer{
	height: 20%;
	background-color: #FFFFFF;
	margin-top: 165px;
}

.palabras{
	text-align:center;
	margin-left: 535px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.enfr{
	margin-top: 90px;
}

#nuevo{
	height: 30%;
	margin-top: 20px;
	
}

.derecho{
	text-align:center;
}

.space{
	height:20%;
}


body{
	margin:0px;
}